<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
    <!-- 若您需要使用Kendo UI Professional，请联系版权人获得合法的授权或许可。 -->
    <!-- Bootstrap css -->
    <link href="https://magicbox.bk.tencent.com/static_api/v3/assets/bootstrap-3.3.4/css/bootstrap.min.css" rel="stylesheet">
    <!-- kendo ui css -->
    <link href="https://magicbox.bk.tencent.com/static_api/v3/assets/kendoui-2015.2.624/styles/kendo.common.min.css" rel="stylesheet">
    <link href="https://magicbox.bk.tencent.com/static_api/v3/assets/kendoui-2015.2.624/styles/kendo.default.min.css" rel="stylesheet">
    <!-- font-awesome -->
    <link href="https://magicbox.bk.tencent.com/static_api/v3/assets/fontawesome/css/font-awesome.css" rel="stylesheet">
    <!--蓝鲸提供的公用样式库 -->
    <link href="https://magicbox.bk.tencent.com/static_api/v3/bk/css/bk.css" rel="stylesheet">
    <link href="https://magicbox.bk.tencent.com/static_api/v3/bk/css/bk_pack.css" rel="stylesheet">
    <!-- 如果要使用Bootstrap的js插件，必须先调入jQuery -->
    <script src="https://magicbox.bk.tencent.com/static_api/v3/assets/js/jquery-1.10.2.min.js"></script>
    <!-- 包括所有bootstrap的js插件或者可以根据需要使用的js插件调用　-->
    <script src="https://magicbox.bk.tencent.com/static_api/v3/assets/echarts-2.0/echarts-all.js"></script>
    <script src="https://magicbox.bk.tencent.com/static_api/v3/assets/bootstrap-3.3.4/js/bootstrap.min.js"></script>
    <!-- 包括所有kendoui的js插件或者可以根据需要使用的js插件调用　-->
    <script src="https://magicbox.bk.tencent.com/static_api/v3/assets/kendoui-2015.2.624/js/kendo.all.min.js"></script>
    <script src="https://magicbox.bk.tencent.com/static_api/v3/assets/echarts-2.0/echarts-all.js"></script>
    <script src="https://magicbox.bk.tencent.com/static_api/v3/bk/js/bk.js"></script>
    <!-- 数据埋点统计 -->
    <script src="http://magicbox.bk.tencent.com/static_api/analysis.js"></script>
    <link href="https://magicbox.bk.tencent.com/static_api/v3/assets/toastr-2.1.2/toastr.min.css" rel="stylesheet">
<script src="https://magicbox.bk.tencent.com/static_api/v3/assets/toastr-2.1.2/toastr.min.js"></script>
    <link href="https://magicbox.bk.tencent.com/static_api/v3/assets/toastr-2.1.2/toastr.min.css" rel="stylesheet">
<script src="https://magicbox.bk.tencent.com/static_api/v3/assets/toastr-2.1.2/toastr.min.js"></script>
    <!-- 以下两个插件用于在IE8以及以下版本浏览器支持HTML5元素和媒体查询，如果不需要用可以移除 -->
    <!--[if lt IE 9]><script src="https://magicbox.bk.tencent.com/static_api/v3/assets/js/html5shiv.min.js"></script><script src="https://magicbox.bk.tencent.com/static_api/v3/assets/js/respond.min.js"></script><![endif]-->
</head>

<body class="bg-white" data-bg-color="bg-white">
    <div class="king-page-box">
        <div class="king-layout1-header">
            <nav role="navigation" class="navbar navbar-default king-horizontal-nav3     f14">
                <div class="nav-container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bk-example-navbar-collapse-3">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="javascript:;">
                            <img src="https://magicbox.bk.tencent.com/static_api/v3/bk/images/logo.png" alt="" class="logo"> </a>
                    </div>
                    <div class="collapse navbar-collapse navbar-responsive-collapse" id="bk-example-navbar-collapse-3">
                        <ul class="nav navbar-nav ">
                            <!--<li :class="{'bk-cur':item.active}"  v-for="item in renderData.items">-->
                            <li class="bk-cur"> <a href="javascript:void(0);">首页<span></span></a> </li>
                            <li> <a href="javascript:void(0);">图标<span class="caret"></span></a>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="javascript:void(0);">线性图</a></li>
                                    <li><a href="javascript:void(0);">饼状图</a></li>
                                    <li><a href="javascript:void(0);">柱形图</a></li>
                                </ul>
                            </li>
                            <li> <a href="javascript:void(0);">个人信息<span></span></a> </li>
                        </ul>
                        <form class="navbar-form navbar-left" role="search">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="搜索..."> </div>
                        </form>
                        <ul class="nav navbar-nav navbar-right">
                            <li>
                                <a href="javascript:;">
                                    <img src="https://magicbox.bk.tencent.com/static_api/v3/components/horizontal_nav3/images/avatar.png" class="avatar">
                                    <span>管理者 ( admin )</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
        <div class="king-layout1-main clearfix">
            <!-- sidebar start -->
            <div class="king-layout1-sidebar" style="width:216px;">
                <nav style="height:100%;" class="   f14">
                    <div class="king-vertical-nav4">
                        <div class="sidebar-inner">
                            <ul class="navi">
                                <li class="has_submenu current open c-open active">
                                    <a href="javascript:void(0);"> <i class="fa fa-gear ">                        </i>
                                        <span>首页</span>
                                        <span class="pull-right"><i class="fa fa-angle-down"></i></span>
                                    </a>
                                    <ul class="sub-menu">
                                        <li><a href="javascript:void(0);">空白<i class="fa fa-chevron-right pull-right"></i></a></li>
                                    </ul>
                                </li>
                                <li class="has_submenu current open c-open">
                                    <a href="javascript:void(0);"> <i class="fa fa-wrench ">                        </i>
                                        <span>表单</span>
                                        <span class="pull-right"><i class="fa fa-angle-down"></i></span>
                                    </a>
                                    <ul class="sub-menu">
                                        <li><a href="javascript:getInfoentry(0);">信息录入<i class="fa fa-chevron-right pull-right"></i></a></li>
                                        <li><a href="javascript:getInfolist(0);">信息查看<i class="fa fa-chevron-right pull-right"></i></a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </div>
            <!-- sidebar end -->
            <!-- content start -->
            <div id="mainInformation">

            </div>

            <!-- content end -->
        </div>
    </div>

    <script>
        $(function () {

            getInfolist()
        })
        function getInfo(){
                    // 异步请求后台数据
                $.ajax({
                    url: '/get_profile_information/',
                    type: 'GET',
                     success:function (data) {
                         var listinfo = $("#listinfo")
                         listinfo.html("")
                         $(data).each(
                             function (i, value) {
                                 index = i + 1
                                 listinfo.append(
                                     "<tr><td>" + index + "</td>"
                                     + "<td>" + value.user_name + "</td>"
                                     + "<td>" + value.phone + "</td>"
                                     + "<td>" + value.jobs+"</td>"
                                     + "<td>" + value.use_department + "</td>"
                                     + "<td>" + value.use_department_score + "</td>"
                                     + "<td>" + value.employment_status + "</td>"
                                     + '<td><button onclick="edit(' +value.id +')" data-type="success"  class="btn btn-xs btn-warning"> <i class="glyphicon glyphicon-edit"></i> </button>'
                                     + '<td><button onclick="del('+ value.id +')" data-type="success" class="btn btn-xs btn-danger"> <i class="glyphicon glyphicon-remove"></i> </button>'
                                 )
                             }
                         )
                     }

                });

                }
        var editId = ''
        function edit(id) {
            $.ajax({
                url:'/home_page/',
                type:'POST',
                data:{"id":id},
                success:function (data) {
                    $('#mainInformation').empty();
                    $('#mainInformation').append(data)         //装入页面
                    $.ajax({
                        url:'/getEditInfo/',
                        type:'POST',
                        data:{"id":id},
                        success:function (data) {
                            $("#a1").val(data.resume_date);
                            $("#a2").val(data.user_name);
                            $("#a3").val(data.phone);
                            $("#a4").val(data.professional);
                            $("#a5").val(data.working_years);
                            $("#a6").val(data.source);
                            $("#a7").val(data.jobs);
                            $("#a8").val(data.specialty);
                            $("#a9").val(data.keep_situation);
                            $("#a10").val(data.convention_interview_date);
                            $("#a11").val(data.the_interviewer);
                            $("#a12").val(data.use_department_score);
                            $("#a13").val(data.hr_score);
                            $("#a14").val(data.employment_status);
                            $("#a15").val(data.work_time);
                            $("#a16").val(data.use_department_bk);
                            $("#a17").val(data.hr_bk);
                            $("#a18").val(data.bk);
                            $("#a19").val(data.education_background);
                            $("#a20").val(data.use_department);
                            editId = data.id
                        }

                    })


                }
            })


                }
        function del(id) {
                     $.ajax({
                        url: '/delInfo/',
                        type: 'POST',
                         data:{"id":id},
                         success:function (data) {
                            getInfolist();
                              var animation = $(this).attr('data-animation');
                                toastr.remove();
                                toastr.success('删除成功','toastr的显示动画',{
                                    timeOut:800,
                                    showMethod :animation
                                });

                         }

                    })
                }
     function getInfoentry() {
            $.ajax({
                type:"GET",
                url:"/home_page/",
                success:function (data) {
                $('#mainInformation').empty();
                $('#mainInformation').append(data)         //装入页面
                    editId = ''
                }
            });
            return false;

     }
     function getInfolist() {
            $.ajax({
                type:"GET",
                url:"/get_list/",
                success:function (data) {
                $('#mainInformation').empty();
                $('#mainInformation').append(data)         //装入页面
                    getInfo()
                }
            });
            return false;

     }

      function submit1(item) {
             var jlrq = $('#a1').val()
            var name = $('#a2').val()
            var phone = $('#a3').val()
            var zhuanye = $('#a4').val()
            var nianxian = $('#a5').val()
            var laiyuan = $('#a6').val()
            var gangwei = $('#a7').val()
            var tecahgn = $('#a8').val()
            var shouyue = $('#a9').val()
            var mianshiqiqi = $('#a10').val()
            var mianshirenyaun = $('#a11').val()
            var bumendafen = $('#a12').val()
            var hrdafen = $('#a13').val()
            var luyongzhuangtai = $('#a14').val()
            var daogangshijain = $('#a15').val()
            var bmbz = $('#a16').val()
            var hrbz = $('#a17').val()
            var bz = $('#a18').val()
            var xl = $('#a19').val()
            var usedepartment = $('#a20').val()
            $.ajax({
                url:"/save_info/",
                type:"POST",
                data:{"jlrq":jlrq,
                    "name":name,
                    "phone":phone,"zhuanye":zhuanye,"nianxian":nianxian,"laiyuan":laiyuan,
                    "gangwei":gangwei,"tecahgn":tecahgn,"shouyue":shouyue,"mianshiqiqi":mianshiqiqi,
                    "mianshirenyaun":mianshirenyaun,"bumendafen":bumendafen,"hrdafen":hrdafen,
                    "luyongzhuangtai":luyongzhuangtai,"daogangshijain":daogangshijain,"bmbz":bmbz,
                    "hrbz":hrbz,"bz":bz,"xl":xl,"usedepartment":usedepartment,"editId":editId
                },
                success:function (data) {
                    getInfolist()

                }

            })
        }

    </script>
</body>

</html>